dist/data/repos/awesome-vibe-coding/content/n8n-templates/Compara colunas no Google Sheets.json
{"id":88,"name":"Compara colunas no Google Sheets","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,300]},{"parameters":{"authentication":"oAuth2","operation":"update","sheetId":"1wuUzSFSrzgYoR7EecUoIBm3E12lWMkLEDiawFHAhx7A","range":"Emails!A:Z","options":{"valueInputMode":"USER_ENTERED","valueRenderMode":"FORMATTED_VALUE"}},"name":"Atualiza Status","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[1060,320],"executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"14","name":"Google Sheets OAuth2 Client"}}},{"parameters":{"values":{"string":[{"name":"status","value":"enviado"}]},"options":{}},"name":"Status Enviado","type":"n8n-nodes-base.set","typeVersion":1,"position":[860,320]},{"parameters":{"mode":"keepKeyMatches","propertyName1":"e-mails","propertyName2":"e-mails enviados"},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":1,"position":[680,320]},{"parameters":{"values":{"string":[{"name":"e-mails","value":"={{$json[\"e-mails\"]}}"}]},"options":{}},"name":"e-mails","type":"n8n-nodes-base.set","typeVersion":1,"position":[460,220]},{"parameters":{"values":{"string":[{"name":"e-mails enviados","value":"={{$json[\"e-mails enviados\"]}}"}]},"options":{}},"name":"e-mails enviados","type":"n8n-nodes-base.set","typeVersion":1,"position":[460,380]},{"parameters":{"authentication":"oAuth2","sheetId":"1wuUzSFSrzgYoR7EecUoIBm3E12lWMkLEDiawFHAhx7A","range":"Emails!A:Z","options":{"valueRenderMode":"FORMATTED_VALUE"}},"name":"Obtém emails","type":"n8n-nodes-base.googleSheets","typeVersion":1,"position":[200,300],"executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"14","name":"Google Sheets OAuth2 Client"}}}],"connections":{"Start":{"main":[[{"node":"Obtém emails","type":"main","index":0}]]},"Status Enviado":{"main":[[{"node":"Atualiza Status","type":"main","index":0}]]},"e-mails":{"main":[[{"node":"Merge","type":"main","index":0}]]},"e-mails enviados":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Status Enviado","type":"main","index":0}]]},"Obtém emails":{"main":[[{"node":"e-mails","type":"main","index":0},{"node":"e-mails enviados","type":"main","index":0}]]}},"createdAt":"2022-06-23T21:43:39.513Z","updatedAt":"2022-06-23T22:46:40.028Z","settings":{},"staticData":null,"pinData":null,"tags":[]}