dist/data/repos/awesome-vibe-coding/content/n8n-templates/Envio de emails em massa (via lista em texto).json
{"id":12,"name":"Envio de emails em massa (via lista em texto)","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-70,300]},{"parameters":{"functionCode":"items[0].json.contatos =\n[\n {\n   \"nome\": \"Hugo Santiago\",\n   \"email\": \" hugo-sora@hotmail.com\"\n },\n {\n   \"nome\": \"Hugo Peres\",\n   \"email\": \" hugosantiagoperesps3@gmail.com\"\n }\n];\nreturn items;"},"name":"Json","type":"n8n-nodes-base.function","typeVersion":1,"position":[120,300]},{"parameters":{"fieldToSplitOut":"=contatos","options":{}},"name":"Lista de Leads","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[310,300]},{"parameters":{"requestMethod":"POST","url":"https://smtp.autotic.com.br/api/v1/send/message","options":{"batchInterval":1000,"batchSize":14},"bodyParametersUi":{"parameter":[{"name":"from","value":"Autotic <contato@autotic.com.br>"},{"name":"to","value":"={{[$node[\"Lista de Leads\"].json[\"email\"]]}}"},{"name":"subject","value":"Testando API da uSender"},{"name":"plain_body","value":"=Olá {{$node[\"Lista de Leads\"].json[\"nome\"]}},\nEste é um email enviado pelo n8n em conjunto com a API da uSender."}]},"headerParametersUi":{"parameter":[{"name":"X-Server-API-Key","value":"4uG7Uy2WSsML2p0MmJaKHytO"}]}},"name":"Envia Email (via API)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[560,120],"disabled":true},{"parameters":{"fromEmail":"Autotic <contato@autotic.com.br>","toEmail":"={{$node[\"Lista de Leads\"].json[\"email\"]}}","subject":"Teste n8n","text":"Isso é um teste do n8n.","html":"Isso é um teste do n8n.","options":{}},"name":"Envia E-mail (via SMTP)","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[580,460],"credentials":{"smtp":{"id":"9","name":"SMTP Autotic"}}}],"connections":{"Start":{"main":[[{"node":"Json","type":"main","index":0}]]},"Json":{"main":[[{"node":"Lista de Leads","type":"main","index":0}]]},"Lista de Leads":{"main":[[{"node":"Envia Email (via API)","type":"main","index":0},{"node":"Envia E-mail (via SMTP)","type":"main","index":0}]]}},"createdAt":"2021-09-18T19:32:18.686Z","updatedAt":"2022-02-11T22:40:02.686Z","settings":{},"staticData":null,"pinData":null,"tags":[{"id":"2","name":"smtp","createdAt":"2021-09-17T00:33:53.458Z","updatedAt":"2021-10-19T21:10:25.307Z"}]}