data/repos/awesome-vibe-coding/content/n8n-templates/Chatbot de WhatsApp para cadastro de leads no Notion.json
{"id":47,"name":"Chatbot de WhatsApp para cadastro de leads no Notion","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-220,360]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"endpoint","value":"https://teste.uzapi.com.br:3333"},{"name":"session","value":"hugo"},{"name":"sessionkey","value":"hugo"}]},"options":{}},"name":"Parâmetros","type":"n8n-nodes-base.set","typeVersion":1,"position":[220,480]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"Você escolheu a opção *Facebook*"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg opção Facebook","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1180,420]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"Você escolheu a opção *Instagram*"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg opção Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1180,680]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"Você escolheu a opção *Google*"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg opção Google","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1180,960]},{"parameters":{"httpMethod":"POST","path":"uzapi-notion","options":{}},"name":"Verifica resposta do lead","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-220,500],"webhookId":"26b46519-91ce-4092-8435-dba5c0d26b7b","notes":"Endpoint:https://ensinandoasonhar.uzapi.com.br:3333\nSession: ensinanandoasonhar\nSession Key: ensinanandoasonhar\nToken: SsiT2*\n\nObs: Mencionar a URL de Produção do Webhook (n8n) no campo Mensagens Recebidas do painel da uZapi.\n\nObs2: Se conectar com o WhatsApp (beta) do Ensinando a Sonhar"},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendList","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"body","value":"=Olá {{$node[\"Verifica resposta do lead\"].json[\"body\"][\"name\"]}} 😃\n\n🤖 Eu sou o *Robotic* e estarei lhe fazendo algumas perguntas para direcionar o seu atendimento à um de nossos consultores:\n\nInforme nos qual canal você viu nosso anúncio:"},{"name":"sections","value":"={{\n[\n{\"rows\":[{\"id\": \"01\",\"title\": \"Facebook\",\"descriptions\": \"Facebook\"},{\"id\": \"02\",\"title\": \"Instagram\",\"descriptions\": \"Instagram\"},{\"id\": \"03\",\"title\": \"Google\",\"descriptions\": \"Google\"}]}\n]\n}}"},{"name":"titleListButton","value":"SELECIONE UMA OPÇÃO"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia lista opções","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[860,300]},{"parameters":{"dataType":"string","value1":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"content\"]}}","rules":{"rules":[{"value2":"Facebook","output":1},{"value2":"Instagram","output":2},{"value2":"Google","output":3}]},"fallbackOutput":0},"name":"Verifica opção escolhida","type":"n8n-nodes-base.switch","typeVersion":1,"position":[900,640]},{"parameters":{"resource":"databasePage","operation":"update","pageId":"={{$node[\"Obtém ID lead\"].json[\"id\"]}}","propertiesUi":{"propertyValues":[{"key":"WhatsApp|title","title":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"key":"Nome|rich_text","textContent":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"name\"]}}"},{"key":"Tag|rich_text","textContent":"Facebook"}]}},"name":"Tag Facebook","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1400,420],"credentials":{"notionApi":{"id":"7","name":"Notion Autotic"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":"={{$node[\"Obtém ID lead\"].json[\"id\"]}}","propertiesUi":{"propertyValues":[{"key":"WhatsApp|title","title":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"key":"Nome|rich_text","textContent":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"name\"]}}"},{"key":"Tag|rich_text","textContent":"Instagram"}]}},"name":"Tag Instagram","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1400,680],"credentials":{"notionApi":{"id":"7","name":"Notion Autotic"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":"={{$node[\"Obtém ID lead\"].json[\"id\"]}}","propertiesUi":{"propertyValues":[{"key":"WhatsApp|title","title":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"key":"Nome|rich_text","textContent":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"name\"]}}"},{"key":"Tag|rich_text","textContent":"Google"}]}},"name":"Tag Google","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1400,960],"credentials":{"notionApi":{"id":"7","name":"Notion Autotic"}}},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"⏲ Segmentando ..."}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg Segmentando ...","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1660,680]},{"parameters":{"amount":3,"unit":"seconds"},"name":"Aguarda 3s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1820,680],"webhookId":"2f198698-5f93-4ac6-8a7a-f1a16ba9a5e9"},{"parameters":{"resource":"databasePage","databaseId":"b80877dd-85e5-4256-9bf2-6887157e0209","propertiesUi":{"propertyValues":[{"key":"WhatsApp|title","title":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"key":"Nome|rich_text","textContent":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"name\"]}}"},{"key":"Tag|rich_text","textContent":"Novo"}]}},"name":"Cria o lead na lista Contato","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1320,120],"executeOnce":false,"credentials":{"notionApi":{"id":"7","name":"Notion Autotic"}},"continueOnFail":true},{"parameters":{"conditions":{"boolean":[],"string":[{"value1":"={{$node[\"Obtém ID lead\"].json[\"id\"]}}","operation":"isEmpty"}]}},"name":"Lead não existe?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1040,140]},{"parameters":{"dataType":"string","value1":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"content\"]}}","rules":{"rules":[{"value2":"Facebook"},{"value2":"Instagram","output":1},{"value2":"Google","output":2}]}},"name":"Verifica a tag do lead","type":"n8n-nodes-base.switch","typeVersion":1,"position":[2000,680]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"Você pertence ao segmento *Instagram*"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg tag Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2260,660]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"Você pertence ao segmento *Facebook*"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg tag Facebook","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2260,440]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"},{"name":"text","value":"Você pertence ao segmento *Google*"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"},{"name":"content-type","value":"application/json"}]}},"name":"Envia msg tag Google","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2260,920]},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"wook\"]}}","value2":"RECEIVE_MESSAGE"}]}},"name":"Msg enviada pelo lead?","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,500]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":"b80877dd-85e5-4256-9bf2-6887157e0209","returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"WhatsApp|title","condition":"equals","titleValue":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"from\"]}}"}]},"options":{}},"name":"Pesquisa ID do lead","type":"n8n-nodes-base.notion","typeVersion":2,"position":[420,480],"credentials":{"notionApi":{"id":"7","name":"Notion Autotic"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Verifica resposta do lead\"].json[\"body\"][\"content\"]}}","operation":"contains","value2":"anúncio"}]}},"name":"Verifica palavra-chave","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,480]}],"connections":{"Parâmetros":{"main":[[{"node":"Pesquisa ID do lead","type":"main","index":0}]]},"Verifica resposta do lead":{"main":[[{"node":"Msg enviada pelo lead?","type":"main","index":0}]]},"Verifica opção escolhida":{"main":[[],[{"node":"Envia msg opção Facebook","type":"main","index":0}],[{"node":"Envia msg opção Instagram","type":"main","index":0}],[{"node":"Envia msg opção Google","type":"main","index":0}]]},"Envia msg opção Facebook":{"main":[[{"node":"Tag Facebook","type":"main","index":0}]]},"Envia msg opção Instagram":{"main":[[{"node":"Tag Instagram","type":"main","index":0}]]},"Envia msg opção Google":{"main":[[{"node":"Tag Google","type":"main","index":0}]]},"Envia lista opções":{"main":[[{"node":"Lead não existe?","type":"main","index":0}]]},"Envia msg Segmentando ...":{"main":[[{"node":"Aguarda 3s","type":"main","index":0}]]},"Tag Instagram":{"main":[[{"node":"Envia msg Segmentando ...","type":"main","index":0}]]},"Aguarda 3s":{"main":[[{"node":"Verifica a tag do lead","type":"main","index":0}]]},"Lead não existe?":{"main":[[{"node":"Cria o lead na lista Contato","type":"main","index":0}]]},"Tag Facebook":{"main":[[{"node":"Envia msg Segmentando ...","type":"main","index":0}]]},"Tag Google":{"main":[[{"node":"Envia msg Segmentando ...","type":"main","index":0}]]},"Verifica a tag do lead":{"main":[[{"node":"Envia msg tag Facebook","type":"main","index":0}],[{"node":"Envia msg tag Instagram","type":"main","index":0}],[{"node":"Envia msg tag Google","type":"main","index":0}]]},"Msg enviada pelo lead?":{"main":[[{"node":"Parâmetros","type":"main","index":0}]]},"Pesquisa ID do lead":{"main":[[{"node":"Verifica palavra-chave","type":"main","index":0}]]},"Verifica palavra-chave":{"main":[[{"node":"Envia lista opções","type":"main","index":0}],[{"node":"Verifica opção escolhida","type":"main","index":0}]]},"Start":{"main":[[]]}},"createdAt":"2022-02-01T21:27:05.679Z","updatedAt":"2022-05-26T16:16:06.780Z","settings":{},"staticData":null,"pinData":null,"tags":[{"id":"1","name":"whatsapp","createdAt":"2021-09-17T00:33:39.408Z","updatedAt":"2021-10-19T21:10:12.400Z"},{"id":"9","name":"notion","createdAt":"2021-12-21T16:07:06.930Z","updatedAt":"2021-12-21T16:07:06.930Z"}]}