data/repos/awesome-vibe-coding/content/n8n-templates/Envios em massa para o WhatsApp (via Json).json
{"id":11,"name":"Envios em massa para o WhatsApp (via Json)","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-940,540]},{"parameters":{"fieldToSplitOut":"contatos","options":{}},"name":"contatos","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-400,540],"notes":"Gera a lista de contatos por meio do json retornado da API."},{"parameters":{"functionCode":"//Usar o site https://www.convertcsv.com/csv-to-json.htm para converter o .csv em código json\n\nitems[0].json.contatos =\n\n// ########### INICIO JSON ##########\n[\n {\n   \"Nome\": \"Bruno Damada\",\n   \"WhatsApp\": \"5519983001234\"\n },\n {\n   \"Nome\": \"Diego Rydz\",\n   \"WhatsApp\": \"5511978850393\"\n },\n {\n   \"Nome\": \"Gabriel\",\n   \"WhatsApp\": \"553599222073\"\n },\n {\n   \"Nome\": \"caetano\",\n   \"WhatsApp\": \"5524992409771\"\n },\n {\n   \"Nome\": \"Francisco\",\n   \"WhatsApp\": \"554888256758\"\n },\n {\n   \"Nome\": \"Gabriel\",\n   \"WhatsApp\": \"553199483637\"\n },\n {\n   \"Nome\": \"Stainen Marketing Digital\",\n   \"WhatsApp\": \"5511970245619\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553191733643\"\n },\n {\n   \"Nome\": \"Glauber Borba\",\n   \"WhatsApp\": \"558181646886\"\n },\n {\n   \"Nome\": \"Darlan Conrado\",\n   \"WhatsApp\": \"559184034863\"\n },\n {\n   \"Nome\": \"Marcelo Nelles\",\n   \"WhatsApp\": \"5521987996800\"\n },\n {\n   \"Nome\": \"Danilo\",\n   \"WhatsApp\": \"556282100866\"\n },\n {\n   \"Nome\": \"Sementinha\",\n   \"WhatsApp\": \"553432124839\"\n },\n {\n   \"Nome\": \"Gabriel\",\n   \"WhatsApp\": \"554388691750\"\n },\n {\n   \"Nome\": \"Ivan Monteiro\",\n   \"WhatsApp\": \"553388538294\"\n },\n {\n   \"Nome\": \"Marília Tavares Assessoria\",\n   \"WhatsApp\": \"556291349595\"\n },\n {\n   \"Nome\": \"¤\",\n   \"WhatsApp\": \"554391484600\"\n },\n {\n   \"Nome\": \"Eduardo\",\n   \"WhatsApp\": \"554396611437\"\n },\n {\n   \"Nome\": \"Lucas Oliveira\",\n   \"WhatsApp\": \"5519998310476\"\n },\n {\n   \"Nome\": \"Michel Hazuky\",\n   \"WhatsApp\": \"5513981430151\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"556484204591\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511940663641\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5527998771424\"\n },\n {\n   \"Nome\": \"GM GROUP\",\n   \"WhatsApp\": \"5521996683963\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511961955467\"\n },\n {\n   \"Nome\": \"Dev\",\n   \"WhatsApp\": \"556692381427\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5521966748858\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5519999588739\"\n },\n {\n   \"Nome\": \"Bruno Costa\",\n   \"WhatsApp\": \"554888127713\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511982118899\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511987796983\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5521968324970\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553599444004\"\n },\n {\n   \"Nome\": \"Egas Digital\",\n   \"WhatsApp\": \"5511985082610\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511996380001\"\n },\n {\n   \"Nome\": \"Herbert Barbosa\",\n   \"WhatsApp\": \"553288627949\"\n },\n {\n   \"Nome\": \"Gerson Menezes\",\n   \"WhatsApp\": \"5511986154234\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"555491382613\"\n },\n {\n   \"Nome\": \"Cayque Abreu\",\n   \"WhatsApp\": \"5511913124294\"\n },\n {\n   \"Nome\": \"Créditos Notórius\",\n   \"WhatsApp\": \"556198288315\"\n },\n {\n   \"Nome\": \"Evan Marinho\",\n   \"WhatsApp\": \"557998854921\"\n },\n {\n   \"Nome\": \"Vinicius Fernandes\",\n   \"WhatsApp\": \"5512991209415\"\n },\n {\n   \"Nome\": \"Renison Silva\",\n   \"WhatsApp\": \"558498186138\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554584214075\"\n },\n {\n   \"Nome\": \"Dev Mafra\",\n   \"WhatsApp\": \"551931994997\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554789197949\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"556784473929\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5519992772365\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511973035125\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"559292015845\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553193632661\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554399053473\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"559591368282\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554299337048\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"555191278407\"\n },\n {\n   \"Nome\": \".ezs\",\n   \"WhatsApp\": \"558792016632\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554891381361\"\n },\n {\n   \"Nome\": \"Flávio Pontal\",\n   \"WhatsApp\": \"556299057740\"\n },\n {\n   \"Nome\": \"B8X - Agência de Marketing Digital\",\n   \"WhatsApp\": \"553183014696\"\n },\n {\n   \"Nome\": \"Rafael Jesus\",\n   \"WhatsApp\": \"5521985779996\"\n },\n {\n   \"Nome\": \"Fabio\",\n   \"WhatsApp\": \"5511985686600\"\n },\n {\n   \"Nome\": \"Felipe Lima\",\n   \"WhatsApp\": \"554196190390\"\n },\n {\n   \"Nome\": \"Rogério\",\n   \"WhatsApp\": \"5521983439746\"\n },\n {\n   \"Nome\": \"Roque Roesler\",\n   \"WhatsApp\": \"555496309600\"\n },\n {\n   \"Nome\": \"Caio\",\n   \"WhatsApp\": \"5511931510667\"\n },\n {\n   \"Nome\": \"Luciana EnsinandoASonhar\",\n   \"WhatsApp\": \"5511975050099\"\n },\n {\n   \"Nome\": \"Jéssica Africano\",\n   \"WhatsApp\": \"553193994500\"\n },\n {\n   \"Nome\": \"André Vinícius\",\n   \"WhatsApp\": \"5527998600705\"\n },\n {\n   \"Nome\": \"Pedro Impulcetto\",\n   \"WhatsApp\": \"5519998305135\"\n },\n {\n   \"Nome\": \"Serasa Certificado Digital\",\n   \"WhatsApp\": \"5511943865014\"\n },\n {\n   \"Nome\": \"Léo Andrade\",\n   \"WhatsApp\": \"5513996598410\"\n },\n {\n   \"Nome\": \"Leandro Camargo\",\n   \"WhatsApp\": \"553197669922\"\n },\n {\n   \"Nome\": \"Léo Andrade\",\n   \"WhatsApp\": \"553891288205\"\n },\n {\n   \"Nome\": \"João Victor\",\n   \"WhatsApp\": \"556799886817\"\n },\n {\n   \"Nome\": \"Ft Tecnologia\",\n   \"WhatsApp\": \"559284372187\"\n },\n {\n   \"Nome\": \"Rodrigo Franco\",\n   \"WhatsApp\": \"553187555101\"\n },\n {\n   \"Nome\": \"Victor Rosi\",\n   \"WhatsApp\": \"5527998117901\"\n },\n {\n   \"Nome\": \"Logbi Gestão de Empreiteiras\",\n   \"WhatsApp\": \"5511972438504\"\n },\n {\n   \"Nome\": \"Maria Eduarda Neves\",\n   \"WhatsApp\": \"556281837736\"\n },\n {\n   \"Nome\": \"Petrohost\",\n   \"WhatsApp\": \"+2 44933563813\"\n },\n {\n   \"Nome\": \"Unifor Automação Comercial\",\n   \"WhatsApp\": \"5527999921782\"\n },\n {\n   \"Nome\": \"Bruno\",\n   \"WhatsApp\": \"554399841411\"\n },\n {\n   \"Nome\": \"Edio Pereira\",\n   \"WhatsApp\": \"556392350706\"\n },\n {\n   \"Nome\": \"Khauê Poerner\",\n   \"WhatsApp\": \"554291336623\"\n },\n {\n   \"Nome\": \"Eymard Silva\",\n   \"WhatsApp\": \"553197386606\"\n },\n {\n   \"Nome\": \"Pedrinho da Nasa\",\n   \"WhatsApp\": \"5515998566622\"\n },\n {\n   \"Nome\": \"Marcus\",\n   \"WhatsApp\": \"5511948900225\"\n },\n {\n   \"Nome\": \"Santo Gostinho\",\n   \"WhatsApp\": \"5521982942191\"\n },\n {\n   \"Nome\": \"Victor Morais\",\n   \"WhatsApp\": \"558597617176\"\n },\n {\n   \"Nome\": \"MODESTO\",\n   \"WhatsApp\": \"556174035966\"\n },\n {\n   \"Nome\": \"Raimundo Silva Funciona Sim\",\n   \"WhatsApp\": \"557183979313\"\n },\n {\n   \"Nome\": \"Claudio Balbino\",\n   \"WhatsApp\": \"5511996050789\"\n },\n {\n   \"Nome\": \"Rildo Lima\",\n   \"WhatsApp\": \"556984866155\"\n },\n {\n   \"Nome\": \"Flávia Almeida\",\n   \"WhatsApp\": \"554399784080\"\n },\n {\n   \"Nome\": \"Marco Galhardo\",\n   \"WhatsApp\": \"5511945169047\"\n },\n {\n   \"Nome\": \"Financeiro\",\n   \"WhatsApp\": \"559191641782\"\n },\n {\n   \"Nome\": \"Mundinet\",\n   \"WhatsApp\": \"558897526022\"\n },\n {\n   \"Nome\": \"Comercial Dantas\",\n   \"WhatsApp\": \"558588955291\"\n },\n {\n   \"Nome\": \"Dedivaldo\",\n   \"WhatsApp\": \"558498449647\"\n },\n {\n   \"Nome\": \"Mário Carvalho\",\n   \"WhatsApp\": \"558187282447\"\n },\n {\n   \"Nome\": \"Bruno Valois - Komunica Mais\",\n   \"WhatsApp\": \"558182694164\"\n },\n {\n   \"Nome\": \"Vinicius\",\n   \"WhatsApp\": \"557199630573\"\n },\n {\n   \"Nome\": \"João Paulo Alves\",\n   \"WhatsApp\": \"557192879706\"\n },\n {\n   \"Nome\": \"Fernando Lorenzetti\",\n   \"WhatsApp\": \"556599911473\"\n },\n {\n   \"Nome\": \"William Dornles\",\n   \"WhatsApp\": \"556285212020\"\n },\n {\n   \"Nome\": \"Edu Personal Trainer\",\n   \"WhatsApp\": \"554898042981\"\n },\n {\n   \"Nome\": \"Agência 9ZERO4\",\n   \"WhatsApp\": \"554141040900\"\n },\n {\n   \"Nome\": \"Budinha Yamaguti\",\n   \"WhatsApp\": \"553897348440\"\n },\n {\n   \"Nome\": \"Fv\",\n   \"WhatsApp\": \"553195044383\"\n },\n {\n   \"Nome\": \"Fátima Viana\",\n   \"WhatsApp\": \"553194123636\"\n },\n {\n   \"Nome\": \"Fábio Roger\",\n   \"WhatsApp\": \"553192788884\"\n },\n {\n   \"Nome\": \"Nossa Senhora do Marketing\",\n   \"WhatsApp\": \"553192323933\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553192026001\"\n },\n {\n   \"Nome\": \"Inglês Express\",\n   \"WhatsApp\": \"553188531425\"\n },\n {\n   \"Nome\": \"Felipe Campos\",\n   \"WhatsApp\": \"553187721886\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553171254111\"\n },\n {\n   \"Nome\": \"Geraldo Leal\",\n   \"WhatsApp\": \"5527999013963\"\n },\n {\n   \"Nome\": \"Bruno\",\n   \"WhatsApp\": \"5524974021588\"\n },\n {\n   \"Nome\": \"Jeferson T ⚕️\",\n   \"WhatsApp\": \"5522998494174\"\n },\n {\n   \"Nome\": \"Lucas\",\n   \"WhatsApp\": \"5521995764393\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5521988344273\"\n },\n {\n   \"Nome\": \"Márcio Calicchio\",\n   \"WhatsApp\": \"5519993984964\"\n },\n {\n   \"Nome\": \"Paola\",\n   \"WhatsApp\": \"5519997289728\"\n },\n {\n   \"Nome\": \"Eduardo Moreira\",\n   \"WhatsApp\": \"5512997486677\"\n },\n {\n   \"Nome\": \"Leonardo - Ministério Ler\",\n   \"WhatsApp\": \"5512974039553\"\n },\n {\n   \"Nome\": \"André Ferreira\",\n   \"WhatsApp\": \"5511994144616\"\n },\n {\n   \"Nome\": \"Ricardo Cancela\",\n   \"WhatsApp\": \"5511989736989\"\n },\n {\n   \"Nome\": \"Almeck Lima\",\n   \"WhatsApp\": \"5511986409681\"\n },\n {\n   \"Nome\": \"Taryana Rocha\",\n   \"WhatsApp\": \"5511982432636\"\n },\n {\n   \"Nome\": \"Maestro Junior\",\n   \"WhatsApp\": \"5511982118049\"\n },\n {\n   \"Nome\": \"Carlos Brandao\",\n   \"WhatsApp\": \"5511973152149\"\n },\n {\n   \"Nome\": \"Guto\",\n   \"WhatsApp\": \"5511947760528\"\n },\n {\n   \"Nome\": \"João Ratts\",\n   \"WhatsApp\": \"+3 51932753636\"\n },\n {\n   \"Nome\": \"Agência ComVersa\",\n   \"WhatsApp\": \"555191735452\"\n },\n {\n   \"Nome\": \"STK Agência Digital\",\n   \"WhatsApp\": \"554235770127\"\n },\n {\n   \"Nome\": \"Thyago Leão Pulse\",\n   \"WhatsApp\": \"558197549723\"\n },\n {\n   \"Nome\": \"Vivian Cardoso\",\n   \"WhatsApp\": \"5521999771706\"\n },\n {\n   \"Nome\": \"Vitor Muniz\",\n   \"WhatsApp\": \"556392800709\"\n },\n {\n   \"Nome\": \"Rodrigo Fiuza\",\n   \"WhatsApp\": \"555496900569\"\n },\n {\n   \"Nome\": \"Michael Richard\",\n   \"WhatsApp\": \"559184123602\"\n },\n {\n   \"Nome\": \"Renan\",\n   \"WhatsApp\": \"5511997741001\"\n },\n {\n   \"Nome\": \"Vagner Damiani\",\n   \"WhatsApp\": \"5519997540906\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511991485124\"\n },\n {\n   \"Nome\": \"LMGomes Comercial\",\n   \"WhatsApp\": \"5511977084617\"\n },\n {\n   \"Nome\": \"Luiz Paulo\",\n   \"WhatsApp\": \"5511964442169\"\n },\n {\n   \"Nome\": \"Maucir Nascimento\",\n   \"WhatsApp\": \"553189224442\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"558540421052\"\n },\n {\n   \"Nome\": \"Betavision Sistemas\",\n   \"WhatsApp\": \"558699829625\"\n },\n {\n   \"Nome\": \"Agência Praia\",\n   \"WhatsApp\": \"5511911410469\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511971694445\"\n },\n {\n   \"Nome\": \"Marcello Alarcon\",\n   \"WhatsApp\": \"5511985656000\"\n },\n {\n   \"Nome\": \"Comercial HN\",\n   \"WhatsApp\": \"5513988291646\"\n },\n {\n   \"Nome\": \"a\",\n   \"WhatsApp\": \"5516996389964\"\n },\n {\n   \"Nome\": \"Atendimento - Thiago Rodrigues Designer\",\n   \"WhatsApp\": \"554399579567\"\n },\n {\n   \"Nome\": \"IvoLeo Schmitz\",\n   \"WhatsApp\": \"554791804717\"\n },\n {\n   \"Nome\": \"Agthon Estevam\",\n   \"WhatsApp\": \"556281631136\"\n },\n {\n   \"Nome\": \"João Victor\",\n   \"WhatsApp\": \"557591116927\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"558198429359\"\n },\n {\n   \"Nome\": \"MIDHAS DIGITAL\",\n   \"WhatsApp\": \"558893129187\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511975933391\"\n },\n {\n   \"Nome\": \"Rafael Neves\",\n   \"WhatsApp\": \"5517991110412\"\n },\n {\n   \"Nome\": \"Kleyton Pereira (vest.meusempre.com.br)\",\n   \"WhatsApp\": \"558799985810\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5527998231153\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"558586461152\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"556294353081\"\n },\n {\n   \"Nome\": \"Valderio Santos\",\n   \"WhatsApp\": \"5518981781366\"\n },\n {\n   \"Nome\": \"Gabriel Rocha\",\n   \"WhatsApp\": \"5511992346246\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554791439864\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554784846288\"\n },\n {\n   \"Nome\": \"José Castilho Distribuidor Royal Prestige\",\n   \"WhatsApp\": \"5519999393686\"\n },\n {\n   \"Nome\": \"Luciano Baetz\",\n   \"WhatsApp\": \"+3 51927063685\"\n },\n {\n   \"Nome\": \"R D Odontologia Especializada\",\n   \"WhatsApp\": \"5511991706670\"\n },\n {\n   \"Nome\": \"Leo Lima Impulso\",\n   \"WhatsApp\": \"559492813000\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5516992434026\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5527996407475\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"556584263599\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511993891773\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5521982343234\"\n },\n {\n   \"Nome\": \"Thiago Nabuco\",\n   \"WhatsApp\": \"5527988957315\"\n },\n {\n   \"Nome\": \"Thiago consultor educacional.\",\n   \"WhatsApp\": \"556184594437\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"559384203648\"\n },\n {\n   \"Nome\": \"Edu Castanho Negócios Digitais\",\n   \"WhatsApp\": \"5511989530791\"\n },\n {\n   \"Nome\": \"Milton Meuml Ponto Com\",\n   \"WhatsApp\": \"554191230100\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554896179781\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5521970379399\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511964082603\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5512981810334\"\n },\n {\n   \"Nome\": \"Central Films\",\n   \"WhatsApp\": \"5511997107280\"\n },\n {\n   \"Nome\": \"Charlote - Atendimento\",\n   \"WhatsApp\": \"5521973060927\"\n },\n {\n   \"Nome\": \"Iván Rojas\",\n   \"WhatsApp\": \"51980531450\"\n },\n {\n   \"Nome\": \"Marcela - Siimp Financeiro\",\n   \"WhatsApp\": \"5519993804227\"\n },\n {\n   \"Nome\": \"Agência Moovi\",\n   \"WhatsApp\": \"554792804339\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554891817449\"\n },\n {\n   \"Nome\": \"Alex\",\n   \"WhatsApp\": \"554499343009\"\n },\n {\n   \"Nome\": \"Kleber\",\n   \"WhatsApp\": \"558296720583\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554199246079\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554792015901\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5522999125121\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553388999484\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"557599728047\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554891379219\"\n },\n {\n   \"Nome\": \"Jeferson Corretor\",\n   \"WhatsApp\": \"554896898268\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554196081781\"\n },\n {\n   \"Nome\": \"Dodo - Studio Ochoa\",\n   \"WhatsApp\": \"5511944924231\"\n },\n {\n   \"Nome\": \"Felipe Pereira\",\n   \"WhatsApp\": \"558187134275\"\n },\n {\n   \"Nome\": \"Neriton Dias\",\n   \"WhatsApp\": \"556294325582\"\n },\n {\n   \"Nome\": \"Castelo\",\n   \"WhatsApp\": \"558596736626\"\n },\n {\n   \"Nome\": \"João\",\n   \"WhatsApp\": \"5515988090481\"\n },\n {\n   \"Nome\": \"Wss Store\",\n   \"WhatsApp\": \"559591151340\"\n },\n {\n   \"Nome\": \"Julio Rivero\",\n   \"WhatsApp\": \"5511945119372\"\n },\n {\n   \"Nome\": \"Divulgador\",\n   \"WhatsApp\": \"556692281757\"\n },\n {\n   \"Nome\": \"Beta\",\n   \"WhatsApp\": \"5521988217329\"\n },\n {\n   \"Nome\": \"Gustavo Salvador\",\n   \"WhatsApp\": \"553798373170\"\n },\n {\n   \"Nome\": \"Deco Ribeyro\",\n   \"WhatsApp\": \"553194797944\"\n },\n {\n   \"Nome\": \"Rebecca Ashley Hibas\",\n   \"WhatsApp\": \"553195394090\"\n },\n {\n   \"Nome\": \"Renato Valim\",\n   \"WhatsApp\": \"556199722007\"\n },\n {\n   \"Nome\": \"Ricardo Pinheiro\",\n   \"WhatsApp\": \"5512992309230\"\n },\n {\n   \"Nome\": \"Flávio Guedes\",\n   \"WhatsApp\": \"5511981277849\"\n },\n {\n   \"Nome\": \"Prof. Netanias dos Santos\",\n   \"WhatsApp\": \"559981240460\"\n },\n {\n   \"Nome\": \"William Leme\",\n   \"WhatsApp\": \"5511983524397\"\n },\n {\n   \"Nome\": \"Wellington...\",\n   \"WhatsApp\": \"5521967067632\"\n },\n {\n   \"Nome\": \"Anderson\",\n   \"WhatsApp\": \"555491560156\"\n },\n {\n   \"Nome\": \"Fê ☺\",\n   \"WhatsApp\": \"5522999197618\"\n },\n {\n   \"Nome\": \"Bruno\",\n   \"WhatsApp\": \"5524981403990\"\n },\n {\n   \"Nome\": \"Geraldo Wandenkoke Junior\",\n   \"WhatsApp\": \"5527999784443\"\n },\n {\n   \"Nome\": \"Emerson\",\n   \"WhatsApp\": \"553183932504\"\n },\n {\n   \"Nome\": \"Rafael\",\n   \"WhatsApp\": \"553184768500\"\n },\n {\n   \"Nome\": \"Igor Vasconcelos Viana\",\n   \"WhatsApp\": \"553189354020\"\n },\n {\n   \"Nome\": \"Daniel Egg [TT Host]\",\n   \"WhatsApp\": \"553192542288\"\n },\n {\n   \"Nome\": \"Brendon Augusto\",\n   \"WhatsApp\": \"553194581737\"\n },\n {\n   \"Nome\": \"Farlley Ramalho 🚀🖥️📚\",\n   \"WhatsApp\": \"553399355654\"\n },\n {\n   \"Nome\": \"Vinícius Frazão\",\n   \"WhatsApp\": \"553491805722\"\n },\n {\n   \"Nome\": \"Clever Sales\",\n   \"WhatsApp\": \"553492790196\"\n },\n {\n   \"Nome\": \"Joao Návia\",\n   \"WhatsApp\": \"553597085182\"\n },\n {\n   \"Nome\": \"Pedro Paulo\",\n   \"WhatsApp\": \"553198211903\"\n },\n {\n   \"Nome\": \"Maykon Douglas\",\n   \"WhatsApp\": \"553897436257\"\n },\n {\n   \"Nome\": \"Ivan Rodrigues\",\n   \"WhatsApp\": \"554199985565\"\n },\n {\n   \"Nome\": \"Carol\",\n   \"WhatsApp\": \"553196718915\"\n },\n {\n   \"Nome\": \"Brena Furtado\",\n   \"WhatsApp\": \"5527995190617\"\n },\n {\n   \"Nome\": \"🤝🏻\",\n   \"WhatsApp\": \"5511975193133\"\n },\n {\n   \"Nome\": \"Silva\",\n   \"WhatsApp\": \"5511949673395\"\n },\n {\n   \"Nome\": \"Luan Arakaki\",\n   \"WhatsApp\": \"5511982013810\"\n },\n {\n   \"Nome\": \"Alex de Farias\",\n   \"WhatsApp\": \"554884431398\"\n },\n {\n   \"Nome\": \"Gustavo Yamao\",\n   \"WhatsApp\": \"554491428569\"\n },\n {\n   \"Nome\": \"Vanessa Este🦋✨\",\n   \"WhatsApp\": \"5521982028476\"\n },\n {\n   \"Nome\": \"ikingphoness\",\n   \"WhatsApp\": \"554584323212\"\n },\n {\n   \"Nome\": \"Antonio Mesquita\",\n   \"WhatsApp\": \"5511969362000\"\n },\n {\n   \"Nome\": \"j\",\n   \"WhatsApp\": \"559292330158\"\n },\n {\n   \"Nome\": \"Jair Lima\",\n   \"WhatsApp\": \"557197137268\"\n },\n {\n   \"Nome\": \"Tiano Duarte 🙂\",\n   \"WhatsApp\": \"556294090539\"\n },\n {\n   \"Nome\": \"Diogo Sohne\",\n   \"WhatsApp\": \"555198844948\"\n },\n {\n   \"Nome\": \"Pablo Lazaro\",\n   \"WhatsApp\": \"5517982203100\"\n },\n {\n   \"Nome\": \"Carlos Alberto\",\n   \"WhatsApp\": \"5511991481705\"\n },\n {\n   \"Nome\": \"Igor Disco\",\n   \"WhatsApp\": \"5511992442992\"\n },\n {\n   \"Nome\": \"-\",\n   \"WhatsApp\": \"5518996852830\"\n },\n {\n   \"Nome\": \"Rebecka\",\n   \"WhatsApp\": \"5521964187873\"\n },\n {\n   \"Nome\": \"Felipe Soares 😄\",\n   \"WhatsApp\": \"5521964635454\"\n },\n {\n   \"Nome\": \"Ellen Kagueyama\",\n   \"WhatsApp\": \"5521975495252\"\n },\n {\n   \"Nome\": \"Felipe\",\n   \"WhatsApp\": \"5521986899998\"\n },\n {\n   \"Nome\": \"Thiago Moreira\",\n   \"WhatsApp\": \"5522997289998\"\n },\n {\n   \"Nome\": \"Farley Oliveira\",\n   \"WhatsApp\": \"5522997487776\"\n },\n {\n   \"Nome\": \"Elias Reis\",\n   \"WhatsApp\": \"5522999598780\"\n },\n {\n   \"Nome\": \"Michel Torres\",\n   \"WhatsApp\": \"5527992567956\"\n },\n {\n   \"Nome\": \"TI - GRUPO ARIZONA\",\n   \"WhatsApp\": \"553192741846\"\n },\n {\n   \"Nome\": \"Adarts - Business 🚀\",\n   \"WhatsApp\": \"553196156732\"\n },\n {\n   \"Nome\": \"Fabricio Gonçalves\",\n   \"WhatsApp\": \"553388301300\"\n },\n {\n   \"Nome\": \"Davi Gostosão\",\n   \"WhatsApp\": \"553399308872\"\n },\n {\n   \"Nome\": \"Fabio Savioli\",\n   \"WhatsApp\": \"554396503223\"\n },\n {\n   \"Nome\": \"Alexandre\",\n   \"WhatsApp\": \"555191498724\"\n },\n {\n   \"Nome\": \"Maicon\",\n   \"WhatsApp\": \"555192049514\"\n },\n {\n   \"Nome\": \"Charles\",\n   \"WhatsApp\": \"556198517987\"\n },\n {\n   \"Nome\": \"Loja Ellas Shop\",\n   \"WhatsApp\": \"5511972735422\"\n },\n {\n   \"Nome\": \"Claudia Fernanda Ribeiro\",\n   \"WhatsApp\": \"556282271127\"\n },\n {\n   \"Nome\": \"Louis Eduardo\",\n   \"WhatsApp\": \"556282594555\"\n },\n {\n   \"Nome\": \"Sébastien Guilet\",\n   \"WhatsApp\": \"557185119978\"\n },\n {\n   \"Nome\": \"Ana Vitória\",\n   \"WhatsApp\": \"557192657411\"\n },\n {\n   \"Nome\": \"Juliana Camilo\",\n   \"WhatsApp\": \"557196077816\"\n },\n {\n   \"Nome\": \"Rodrigo Pimentel\",\n   \"WhatsApp\": \"557591286277\"\n },\n {\n   \"Nome\": \"Ellen\",\n   \"WhatsApp\": \"557798172079\"\n },\n {\n   \"Nome\": \"Márcio Sancho\",\n   \"WhatsApp\": \"558198201699\"\n },\n {\n   \"Nome\": \"Bruno & Luana ❤️❤️❤️\",\n   \"WhatsApp\": \"+3 1611147251\"\n },\n {\n   \"Nome\": \"Joan Serra\",\n   \"WhatsApp\": \"+3 4685670900\"\n },\n {\n   \"Nome\": \"Daniele Solem\",\n   \"WhatsApp\": \"+4 748393699\"\n },\n {\n   \"Nome\": \"Nivaldo Foguer\",\n   \"WhatsApp\": \"5511943937700\"\n },\n {\n   \"Nome\": \"Carlos\",\n   \"WhatsApp\": \"5511953792714\"\n },\n {\n   \"Nome\": \"Leonardo\",\n   \"WhatsApp\": \"5511967957593\"\n },\n {\n   \"Nome\": \"Thiago Luis\",\n   \"WhatsApp\": \"5511976793810\"\n },\n {\n   \"Nome\": \"Alexandre Faustino\",\n   \"WhatsApp\": \"5511979602346\"\n },\n {\n   \"Nome\": \"Juliana Carvalho Viagens E Turismo\",\n   \"WhatsApp\": \"+3 2468586024\"\n },\n {\n   \"Nome\": \"Fabio\",\n   \"WhatsApp\": \"5511982275185\"\n },\n {\n   \"Nome\": \"Deus Vai Na Frente!\",\n   \"WhatsApp\": \"5511988583627\"\n },\n {\n   \"Nome\": \"Thiago Senna\",\n   \"WhatsApp\": \"5511986105339\"\n },\n {\n   \"Nome\": \"Sergio\",\n   \"WhatsApp\": \"5511994187710\"\n },\n {\n   \"Nome\": \"Matheus Rocha\",\n   \"WhatsApp\": \"5511998141132\"\n },\n {\n   \"Nome\": \"Fabiana O. Magalhães\",\n   \"WhatsApp\": \"5511999665101\"\n },\n {\n   \"Nome\": \"Vinicius Sales\",\n   \"WhatsApp\": \"5512974025671\"\n },\n {\n   \"Nome\": \"Bruno\",\n   \"WhatsApp\": \"5515988216876\"\n },\n {\n   \"Nome\": \"Danilo Henrique✌🏻\",\n   \"WhatsApp\": \"5516991541528\"\n },\n {\n   \"Nome\": \"Angel Cáceres\",\n   \"WhatsApp\": \"5516997313003\"\n },\n {\n   \"Nome\": \"Alan Cristian\",\n   \"WhatsApp\": \"5519971317130\"\n },\n {\n   \"Nome\": \"Marcos Ramalho\",\n   \"WhatsApp\": \"5519991410061\"\n },\n {\n   \"Nome\": \"Éder Reitter Brandão\",\n   \"WhatsApp\": \"556281714484\"\n },\n {\n   \"Nome\": \"~\",\n   \"WhatsApp\": \"5521967598863\"\n },\n {\n   \"Nome\": \"Wagner\",\n   \"WhatsApp\": \"5521987402196\"\n },\n {\n   \"Nome\": \"🇧🇷\",\n   \"WhatsApp\": \"5521989542592\"\n },\n {\n   \"Nome\": \"Delio Max\",\n   \"WhatsApp\": \"5521999269754\"\n },\n {\n   \"Nome\": \"Fabio Dadalt\",\n   \"WhatsApp\": \"555193375224\"\n },\n {\n   \"Nome\": \"Marjorie\",\n   \"WhatsApp\": \"555193726492\"\n },\n {\n   \"Nome\": \"Barbara Mácola\",\n   \"WhatsApp\": \"556182205137\"\n },\n {\n   \"Nome\": \"Dernilson\",\n   \"WhatsApp\": \"556194370331\"\n },\n {\n   \"Nome\": \"Yuri Matheus Gomes\",\n   \"WhatsApp\": \"557193997732\"\n },\n {\n   \"Nome\": \"Pedro Confidence Imports\",\n   \"WhatsApp\": \"556291537876\"\n },\n {\n   \"Nome\": \"Flávia Ferreira\",\n   \"WhatsApp\": \"556292525883\"\n },\n {\n   \"Nome\": \"Laís\",\n   \"WhatsApp\": \"556295539995\"\n },\n {\n   \"Nome\": \"💐\",\n   \"WhatsApp\": \"556999125394\"\n },\n {\n   \"Nome\": \"Elizeu Instituto INARV\",\n   \"WhatsApp\": \"557191583966\"\n },\n {\n   \"Nome\": \"Bussines Sir !!\",\n   \"WhatsApp\": \"557481119479\"\n },\n {\n   \"Nome\": \"João Vitório\",\n   \"WhatsApp\": \"557591179457\"\n },\n {\n   \"Nome\": \"Thiago Vasconcelos\",\n   \"WhatsApp\": \"558195022041\"\n },\n {\n   \"Nome\": \"Djalma Marinho\",\n   \"WhatsApp\": \"558488717705\"\n },\n {\n   \"Nome\": \"Fabio\",\n   \"WhatsApp\": \"558596746500\"\n },\n {\n   \"Nome\": \"Adriano Fonseca\",\n   \"WhatsApp\": \"558599694849\"\n },\n {\n   \"Nome\": \"Josiel Alexandre🤓\",\n   \"WhatsApp\": \"558981109051\"\n },\n {\n   \"Nome\": \"Felipe Cantalice\",\n   \"WhatsApp\": \"559292642803\"\n },\n {\n   \"Nome\": \"magnagoncalves1974\",\n   \"WhatsApp\": \"+3 51960452390\"\n },\n {\n   \"Nome\": \"Ricardo Cappobianco\",\n   \"WhatsApp\": \"5511940576244\"\n },\n {\n   \"Nome\": \"😽\",\n   \"WhatsApp\": \"5511963280773\"\n },\n {\n   \"Nome\": \"Octavio\",\n   \"WhatsApp\": \"5511984431223\"\n },\n {\n   \"Nome\": \"Cleiton\",\n   \"WhatsApp\": \"5511987727111\"\n },\n {\n   \"Nome\": \"André Francisco\",\n   \"WhatsApp\": \"5511989263617\"\n },\n {\n   \"Nome\": \"Vanessa Ferreira\",\n   \"WhatsApp\": \"5511992018196\"\n },\n {\n   \"Nome\": \"Gisele Rocha\",\n   \"WhatsApp\": \"5517988395150\"\n },\n {\n   \"Nome\": \"Ricardo Mantoani\",\n   \"WhatsApp\": \"5519984493132\"\n },\n {\n   \"Nome\": \"DEV Disputado #1\",\n   \"WhatsApp\": \"5519996771785\"\n },\n {\n   \"Nome\": \"Júnior Araujo\",\n   \"WhatsApp\": \"5519999720319\"\n },\n {\n   \"Nome\": \"Euclides Macedo\",\n   \"WhatsApp\": \"554896014180\"\n },\n {\n   \"Nome\": \"Fabio Chapolim 🍔\",\n   \"WhatsApp\": \"5521994694293\"\n },\n {\n   \"Nome\": \"Júnior Nunes\",\n   \"WhatsApp\": \"5522997623631\"\n },\n {\n   \"Nome\": \"Eduardo Pereira 😎\",\n   \"WhatsApp\": \"5522999986578\"\n },\n {\n   \"Nome\": \"Sergio\",\n   \"WhatsApp\": \"5527998662658\"\n },\n {\n   \"Nome\": \"Armando\",\n   \"WhatsApp\": \"553173109393\"\n },\n {\n   \"Nome\": \"JOSĖ NILSON (ADVOGADO)\",\n   \"WhatsApp\": \"553185000207\"\n },\n {\n   \"Nome\": \"Camilo Alves\",\n   \"WhatsApp\": \"553187683098\"\n },\n {\n   \"Nome\": \"Poli Grandal🙏🏼\",\n   \"WhatsApp\": \"554891288268\"\n },\n {\n   \"Nome\": \"Alvaro\",\n   \"WhatsApp\": \"556183715599\"\n },\n {\n   \"Nome\": \"Pablo Vinicius\",\n   \"WhatsApp\": \"556484537498\"\n },\n {\n   \"Nome\": \"Thiago Gregório\",\n   \"WhatsApp\": \"556781293161\"\n },\n {\n   \"Nome\": \"Helbert\",\n   \"WhatsApp\": \"557181413138\"\n },\n {\n   \"Nome\": \"Marcos Muniz Matos\",\n   \"WhatsApp\": \"557799085383\"\n },\n {\n   \"Nome\": \"Dárfelin\",\n   \"WhatsApp\": \"557988048978\"\n },\n {\n   \"Nome\": \"Ghessica Alves\",\n   \"WhatsApp\": \"558287379413\"\n },\n {\n   \"Nome\": \"Larissa\",\n   \"WhatsApp\": \"553284862626\"\n },\n {\n   \"Nome\": \"Tiago Brunelli\",\n   \"WhatsApp\": \"5511946567929\"\n },\n {\n   \"Nome\": \"Vinícius Doutor\",\n   \"WhatsApp\": \"556299371496\"\n },\n {\n   \"Nome\": \"Ely Ribeiro\",\n   \"WhatsApp\": \"559188145100\"\n },\n {\n   \"Nome\": \"Eduardo Veloso\",\n   \"WhatsApp\": \"553193980010\"\n },\n {\n   \"Nome\": \"John Kennedy\",\n   \"WhatsApp\": \"559288351958\"\n },\n {\n   \"Nome\": \"Gabriel de Sa\",\n   \"WhatsApp\": \"556492345787\"\n },\n {\n   \"Nome\": \"Maylon Correa\",\n   \"WhatsApp\": \"556193721808\"\n },\n {\n   \"Nome\": \"Anderson Mussolin\",\n   \"WhatsApp\": \"5519989118993\"\n },\n {\n   \"Nome\": \"Marcio Marinho\",\n   \"WhatsApp\": \"5511985858505\"\n },\n {\n   \"Nome\": \"165422\",\n   \"WhatsApp\": \"5518988143507\"\n },\n {\n   \"Nome\": \"Gabriele Diniz\",\n   \"WhatsApp\": \"5511983670652\"\n },\n {\n   \"Nome\": \"Cayque Abreu\",\n   \"WhatsApp\": \"5511991132133\"\n },\n {\n   \"Nome\": \"Diogo Publio\",\n   \"WhatsApp\": \"5511941451466\"\n },\n {\n   \"Nome\": \"Diego Silveira\",\n   \"WhatsApp\": \"554884016594\"\n },\n {\n   \"Nome\": \"Miguel Carvalho\",\n   \"WhatsApp\": \"5527996549956\"\n },\n {\n   \"Nome\": \"Alcides\",\n   \"WhatsApp\": \"554199127138\"\n },\n {\n   \"Nome\": \"Thiago Pimentel\",\n   \"WhatsApp\": \"5511992429212\"\n },\n {\n   \"Nome\": \"Rodrigo Porto\",\n   \"WhatsApp\": \"5521981643872\"\n },\n {\n   \"Nome\": \"Henrique Tassar\",\n   \"WhatsApp\": \"553399150593\"\n },\n {\n   \"Nome\": \"Matheus Andrade\",\n   \"WhatsApp\": \"5511948034078\"\n },\n {\n   \"Nome\": \"Lucas\",\n   \"WhatsApp\": \"553187075290\"\n },\n {\n   \"Nome\": \"Pingo Locações\",\n   \"WhatsApp\": \"554599593806\"\n },\n {\n   \"Nome\": \"Jota\",\n   \"WhatsApp\": \"5511992810050\"\n },\n {\n   \"Nome\": \"Giba Dias\",\n   \"WhatsApp\": \"5511947439979\"\n },\n {\n   \"Nome\": \"Bruno\",\n   \"WhatsApp\": \"5511945479298\"\n },\n {\n   \"Nome\": \"Márcio Mourão\",\n   \"WhatsApp\": \"553175740432\"\n },\n {\n   \"Nome\": \"<?= \\\"Jhon\\\" ?>\",\n   \"WhatsApp\": \"553195360492\"\n },\n {\n   \"Nome\": \"Luís Gustavo\",\n   \"WhatsApp\": \"5512981773907\"\n },\n {\n   \"Nome\": \"Marcos Dev. 🖥️👾👨‍💻\",\n   \"WhatsApp\": \"5521985650316\"\n },\n {\n   \"Nome\": \"Flavio Ribeiro\",\n   \"WhatsApp\": \"556281828983\"\n },\n {\n   \"Nome\": \"Wanderson Amaral\",\n   \"WhatsApp\": \"5527981054101\"\n },\n {\n   \"Nome\": \"‼️Juvenal Culino🖤🤍\",\n   \"WhatsApp\": \"557597109937\"\n },\n {\n   \"Nome\": \"Ragna\",\n   \"WhatsApp\": \"551123485145\"\n },\n {\n   \"Nome\": \"Sam\",\n   \"WhatsApp\": \"558498508487\"\n },\n {\n   \"Nome\": \"Dilson Lana\",\n   \"WhatsApp\": \"553182096315\"\n },\n {\n   \"Nome\": \"Spieler\",\n   \"WhatsApp\": \"5521970106352\"\n },\n {\n   \"Nome\": \"Tiago\",\n   \"WhatsApp\": \"558591284737\"\n },\n {\n   \"Nome\": \"George R. Santos\",\n   \"WhatsApp\": \"5519994458360\"\n },\n {\n   \"Nome\": \"Deividhy Tonetti\",\n   \"WhatsApp\": \"5512982967213\"\n },\n {\n   \"Nome\": \"Elizandro Moreira\",\n   \"WhatsApp\": \"+1 4079560215\"\n },\n {\n   \"Nome\": \"Matheus Henrique\",\n   \"WhatsApp\": \"5511944590723\"\n },\n {\n   \"Nome\": \"Eder Zuca\",\n   \"WhatsApp\": \"5511999263331\"\n },\n {\n   \"Nome\": \"Tiago Menezes\",\n   \"WhatsApp\": \"557999694342\"\n },\n {\n   \"Nome\": \"Camargo\",\n   \"WhatsApp\": \"5516993387139\"\n },\n {\n   \"Nome\": \"Rafael  Viana\",\n   \"WhatsApp\": \"5511948067046\"\n },\n {\n   \"Nome\": \"Crisbrasil\",\n   \"WhatsApp\": \"554796691296\"\n },\n {\n   \"Nome\": \"Dalvan Silva\",\n   \"WhatsApp\": \"557199370616\"\n },\n {\n   \"Nome\": \"Pedro\",\n   \"WhatsApp\": \"5521998149843\"\n },\n {\n   \"Nome\": \"Douglas\",\n   \"WhatsApp\": \"5514981387947\"\n },\n {\n   \"Nome\": \"Igor Gontijo\",\n   \"WhatsApp\": \"553183217183\"\n },\n {\n   \"Nome\": \"Marco Túlio - Grupo Moovi\",\n   \"WhatsApp\": \"554899386010\"\n },\n {\n   \"Nome\": \"Lucas Xavier\",\n   \"WhatsApp\": \"553197823496\"\n },\n {\n   \"Nome\": \"Rafael n8n\",\n   \"WhatsApp\": \"553298089600\"\n },\n {\n   \"Nome\": \"Daniel\",\n   \"WhatsApp\": \"5521985850381\"\n },\n {\n   \"Nome\": \"Thali Adami 🐛🦋\",\n   \"WhatsApp\": \"5518981927464\"\n },\n {\n   \"Nome\": \"Fabrizio\",\n   \"WhatsApp\": \"554891357177\"\n },\n {\n   \"Nome\": \"Luciano Hespanhol\",\n   \"WhatsApp\": \"555199173697\"\n },\n {\n   \"Nome\": \"Maf\",\n   \"WhatsApp\": \"5511946459381\"\n },\n {\n   \"Nome\": \"Maria ❤️👸🏻💍\",\n   \"WhatsApp\": \"5519992745520\"\n },\n {\n   \"Nome\": \"Dione\",\n   \"WhatsApp\": \"553798450710\"\n },\n {\n   \"Nome\": \"Max W.\",\n   \"WhatsApp\": \"5524999024084\"\n },\n {\n   \"Nome\": \"André Luiz Machado\",\n   \"WhatsApp\": \"554796233802\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"556291507306\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553171465394\"\n },\n {\n   \"Nome\": \"Antônio Carlos Nogueira\",\n   \"WhatsApp\": \"5527997021540\"\n },\n {\n   \"Nome\": \"Rodrigo Fiuza\",\n   \"WhatsApp\": \"556492908530\"\n },\n {\n   \"Nome\": \"Jony Lan Consultor de Marketing Digital\",\n   \"WhatsApp\": \"553191858510\"\n },\n {\n   \"Nome\": \"Filippe Rocha\",\n   \"WhatsApp\": \"5527998262516\"\n },\n {\n   \"Nome\": \"Leonardo Dias\",\n   \"WhatsApp\": \"553191905422\"\n },\n {\n   \"Nome\": \"Geovanni\",\n   \"WhatsApp\": \"553492666565\"\n },\n {\n   \"Nome\": \"Sandra Machado\",\n   \"WhatsApp\": \"555184915952\"\n },\n {\n   \"Nome\": \"João Melo\",\n   \"WhatsApp\": \"5511991883343\"\n },\n {\n   \"Nome\": \"Rogério Wilbert\",\n   \"WhatsApp\": \"5511988950327\"\n },\n {\n   \"Nome\": \"‎\",\n   \"WhatsApp\": \"558499009949\"\n },\n {\n   \"Nome\": \"Tássio Aquino\",\n   \"WhatsApp\": \"559981556357\"\n },\n {\n   \"Nome\": \"Erivan Silva\",\n   \"WhatsApp\": \"558199638870\"\n },\n {\n   \"Nome\": \"Hangare Internet Marketing\",\n   \"WhatsApp\": \"5512988371666\"\n },\n {\n   \"Nome\": \"Júlio Paulillo\",\n   \"WhatsApp\": \"5511967038090\"\n },\n {\n   \"Nome\": \"Nilton Benedet\",\n   \"WhatsApp\": \"554599943164\"\n },\n {\n   \"Nome\": \"Marcio Berber\",\n   \"WhatsApp\": \"5516997410925\"\n },\n {\n   \"Nome\": \"Gabriela Lino\",\n   \"WhatsApp\": \"556284550490\"\n },\n {\n   \"Nome\": \"Edy\",\n   \"WhatsApp\": \"558588875856\"\n },\n {\n   \"Nome\": \"Eliezer Felix\",\n   \"WhatsApp\": \"556296465794\"\n },\n {\n   \"Nome\": \"Lucas Furlan\",\n   \"WhatsApp\": \"5519999674520\"\n },\n {\n   \"Nome\": \"FMO ADVOGADOS\",\n   \"WhatsApp\": \"556399916064\"\n },\n {\n   \"Nome\": \"Paulo Jordan 🇺🇦\",\n   \"WhatsApp\": \"553194265856\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"553391077359\"\n },\n {\n   \"Nome\": \"Maicon LGhazz\",\n   \"WhatsApp\": \"553197628616\"\n },\n {\n   \"Nome\": \"Daniel\",\n   \"WhatsApp\": \"553184797275\"\n },\n {\n   \"Nome\": \"Jr Construção\",\n   \"WhatsApp\": \"5511948629147\"\n },\n {\n   \"Nome\": \"🥰\",\n   \"WhatsApp\": \"5511964629448\"\n },\n {\n   \"Nome\": \"Gleisson\",\n   \"WhatsApp\": \"553191987178\"\n },\n {\n   \"Nome\": \"Luana - Equipe Ivanete M. Muller\",\n   \"WhatsApp\": \"554598416500\"\n },\n {\n   \"Nome\": \"William Fraga - Instituto WF Coaching Treinamentos\",\n   \"WhatsApp\": \"5521969977428\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554184221862\"\n },\n {\n   \"Nome\": \"Judite Tavares\",\n   \"WhatsApp\": \"556391035874\"\n },\n {\n   \"Nome\": \"Good Marketing Digital\",\n   \"WhatsApp\": \"5511963484432\"\n },\n {\n   \"Nome\": \"🥸\",\n   \"WhatsApp\": \"555191889968\"\n },\n {\n   \"Nome\": \"Pedro Bastos\",\n   \"WhatsApp\": \"553598617132\"\n },\n {\n   \"Nome\": \"Centro de Formação Peter Pan-Anhanguera\",\n   \"WhatsApp\": \"558896149444\"\n },\n {\n   \"Nome\": \"John\",\n   \"WhatsApp\": \"5515997182281\"\n },\n {\n   \"Nome\": \"Guilherme\",\n   \"WhatsApp\": \"5511970918639\"\n },\n {\n   \"Nome\": \"Suel🤙🏼\",\n   \"WhatsApp\": \"558386320146\"\n },\n {\n   \"Nome\": \"Black Net\",\n   \"WhatsApp\": \"559192028245\"\n },\n {\n   \"Nome\": \"Alexandre Pedroso\",\n   \"WhatsApp\": \"554189018137\"\n },\n {\n   \"Nome\": \"Guilherme Porfirio\",\n   \"WhatsApp\": \"556286242185\"\n },\n {\n   \"Nome\": \"Juliano Leitao\",\n   \"WhatsApp\": \"556183630000\"\n },\n {\n   \"Nome\": \"SOLUTTION COMERCIAL\",\n   \"WhatsApp\": \"556381110139\"\n },\n {\n   \"Nome\": \"Sérgio Sá\",\n   \"WhatsApp\": \"5511991806667\"\n },\n {\n   \"Nome\": \"Anderson Tamborim\",\n   \"WhatsApp\": \"5512981052399\"\n },\n {\n   \"Nome\": \"\\\\M/\",\n   \"WhatsApp\": \"5521966999924\"\n },\n {\n   \"Nome\": \"Guedes Digital Marketing\",\n   \"WhatsApp\": \"559188188514\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5519996368652\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"554799221846\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"556285732033\"\n },\n {\n   \"Nome\": \"Jhonata Jackson 👨🏽‍💻\",\n   \"WhatsApp\": \"5521975269348\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5511975822946\"\n },\n {\n   \"Nome\": \"Deva Imoveis General Salgado\",\n   \"WhatsApp\": \"5517996120544\"\n },\n {\n   \"Nome\": \"Eduardo Veríssimo (Dudu)\",\n   \"WhatsApp\": \"556183021793\"\n },\n {\n   \"Nome\": \"7x Growth\",\n   \"WhatsApp\": \"556196777455\"\n },\n {\n   \"Nome\": \"RΞNATO\",\n   \"WhatsApp\": \"554799686080\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5527996864824\"\n },\n {\n   \"Nome\": \"Felipe\",\n   \"WhatsApp\": \"5521967255203\"\n },\n {\n   \"Nome\": \"Danilo Copyfun\",\n   \"WhatsApp\": \"5527998858304\"\n },\n {\n   \"Nome\": \"Uatiz app - Yuri Lima 1\",\n   \"WhatsApp\": \"558596859001\"\n },\n {\n   \"Nome\": \"GILNET.IPTV\",\n   \"WhatsApp\": \"5511914180028\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5512981562488\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"5512996476722\"\n },\n {\n   \"Nome\": \"Suporte\",\n   \"WhatsApp\": \"554588080666\"\n },\n {\n   \"Nome\": \"Marcus Barbosa\",\n   \"WhatsApp\": \"5527992883107\"\n },\n {\n   \"Nome\": \"KeiDigital\",\n   \"WhatsApp\": \"5513981421235\"\n },\n {\n   \"Nome\": \"\",\n   \"WhatsApp\": \"555596354480\"\n },\n {\n   \"Nome\": \"Leandro\",\n   \"WhatsApp\": \"554888280438\"\n },\n {\n   \"Nome\": \"Play Agência Digital\",\n   \"WhatsApp\": \"554491132661\"\n },\n {\n   \"Nome\": \"Edison Martins\",\n   \"WhatsApp\": \"557999777712\"\n },\n {\n   \"Nome\": \"Custodio\",\n   \"WhatsApp\": \"5513997760666\"\n },\n {\n   \"Nome\": \"Silas Rodrigues\",\n   \"WhatsApp\": \"5519992576970\"\n },\n {\n   \"Nome\": \"Danillo Dantas\",\n   \"WhatsApp\": \"5521983414856\"\n },\n {\n   \"Nome\": \"Nouem Dev\",\n   \"WhatsApp\": \"554199421770\"\n },\n {\n   \"Nome\": \"Central do Conhecimento Online\",\n   \"WhatsApp\": \"5522998182734\"\n },\n {\n   \"Nome\": \"Tadeu André\",\n   \"WhatsApp\": \"5522992375727\"\n },\n {\n   \"Nome\": \"Lena Pinto\",\n   \"WhatsApp\": \"559192444590\"\n },\n {\n   \"Nome\": \"Richard Giandomênico\",\n   \"WhatsApp\": \"5514996966394\"\n },\n {\n   \"Nome\": \"Asaas\",\n   \"WhatsApp\": \"5547933007018\"\n },\n {\n   \"Nome\": \"Pioneiro Zap\",\n   \"WhatsApp\": \"559193000451\"\n },\n {\n   \"Nome\": \"Harry.fotografia\",\n   \"WhatsApp\": \"5511958493514\"\n },\n {\n   \"Nome\": \"Jeff\",\n   \"WhatsApp\": \"5511997455038\"\n }\n]\n// ########### FIM JSON ##########\n;return items;\n"},"name":"lista json","type":"n8n-nodes-base.function","typeVersion":1,"position":[-580,540],"notes":"Lista de contatos no formato json."},{"parameters":{"values":{"string":[{"name":"endpoint","value":"https://api.uzapi.com.br:3333"},{"name":"session","value":"autotic"},{"name":"sessionkey","value":"autotic"},{"name":"text","value":"Acaba de sair a nova versão da nossa API de Teste de WhatsApp. 😎\n\nAcompanhe as novidades 👇\n\n1) *100% compatível com o novo WhatsApp (Multi-Device)*\n\n2) *Envios de botões de ações (para direcionar o cliente para uma página web ou um atendente)*\n\n3) *Alteração da URL de Webhook (sem precisar desconectar a API)*\n\n4) *Maior estabilidade (melhorias nos tratamentos de exceções)*\n\n👉 *TESTE GRÁTIS AGORA:* https://autotic.com.br/api-do-whatsapp\n\n* _Digite *sair* caso não queira receber mais nossas notificações._"},{"name":"path","value":"https://i.ibb.co/XjFdQXf/uzapi-infografico.png"}],"number":[]},"options":{}},"name":"Parâmetros","type":"n8n-nodes-base.set","typeVersion":1,"position":[-760,540]},{"parameters":{"functionCode":"var nome = $node[\"contatos\"].json[\"Nome\"];\n\nif (nome != null){\n      var fname = nome.split(' ');\n      item.fname = fname[0];\n}\nreturn item;"},"name":"Obtém primeiro nome do lead","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-200,540],"alwaysOutputData":true,"continueOnFail":true,"notes":"Obtém apenas o primeiro do contato."},{"parameters":{"batchSize":1,"options":{}},"name":"Um contato por vez","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[0,540]},{"parameters":{"amount":5,"unit":"seconds"},"name":"Aguarda 5s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[420,540],"webhookId":"cd826ff6-975b-4649-9a9d-29ed3e15eaa1"},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].parameter[\"values\"][\"string\"][0][\"value\"]}}/sendImage","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].parameter[\"values\"][\"string\"][1][\"value\"]}}"},{"name":"number","value":"={{$json[\"WhatsApp\"]}}"},{"name":"caption","value":"=Olá {{$node[\"Um contato por vez\"].json[\"fname\"]}}, bom dia!\n\n{{$node[\"Parâmetros\"].json[\"text\"]}}"},{"name":"path","value":"={{$node[\"Parâmetros\"].json[\"path\"]}}"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].parameter[\"values\"][\"string\"][2][\"value\"]}}"}]}},"name":"Envia Texto e Imagem no Wpp","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[200,540],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"continueOnFail":true,"notes":"Envia o vídeo no whatsapp de cada contato."}],"connections":{"Start":{"main":[[{"node":"Parâmetros","type":"main","index":0}]]},"contatos":{"main":[[{"node":"Obtém primeiro nome do lead","type":"main","index":0}]]},"lista json":{"main":[[{"node":"contatos","type":"main","index":0}]]},"Parâmetros":{"main":[[{"node":"lista json","type":"main","index":0}]]},"Obtém primeiro nome do lead":{"main":[[{"node":"Um contato por vez","type":"main","index":0}]]},"Um contato por vez":{"main":[[{"node":"Envia Texto e Imagem no Wpp","type":"main","index":0}]]},"Aguarda 5s":{"main":[[{"node":"Um contato por vez","type":"main","index":0}]]},"Envia Texto e Imagem no Wpp":{"main":[[{"node":"Aguarda 5s","type":"main","index":0}]]}},"createdAt":"2021-09-17T16:17:49.240Z","updatedAt":"2022-06-08T10:25:02.315Z","settings":{},"staticData":null,"pinData":null,"tags":[{"id":"1","name":"whatsapp","createdAt":"2021-09-17T00:33:39.408Z","updatedAt":"2021-10-19T21:10:12.400Z"}]}