data/repos/awesome-vibe-coding/content/n8n-templates/Envio de WhatsApp em Massa com Relatório de Envios.json
{"id":76,"name":"Envio de WhatsApp em Massa com Relatório de Envios","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-940,540]},{"parameters":{"fieldToSplitOut":"contatos","options":{}},"name":"contatos","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-400,540],"notes":"Gera a lista de contatos por meio do json retornado da API."},{"parameters":{"functionCode":"items[0].json.contatos =\n[\n  {\n    \"Nome\": \"Hugo Peres\",\n    \"WhatsApp\": \"5521969473182\"\n  },\n  {\n    \"Nome\": \"Fulano da Silva\",\n    \"WhatsApp\": \"5500999999999\"\n  }\n];\nreturn items;\n"},"name":"lista json","type":"n8n-nodes-base.function","typeVersion":1,"position":[-580,540],"notes":"Lista de contatos no formato json."},{"parameters":{"functionCode":"var nome = $node[\"contatos\"].json[\"Nome\"];\n\nif (nome != null){\n      var fname = nome.split(' ');\n      item.fname = fname[0];\n}\nreturn item;"},"name":"Obtém primeiro nome do lead","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[-200,540],"alwaysOutputData":true,"continueOnFail":true,"notes":"Obtém apenas o primeiro do contato."},{"parameters":{"batchSize":1,"options":{}},"name":"Um contato por vez","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[60,540]},{"parameters":{"amount":5,"unit":"seconds"},"name":"Aguarda 5s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[660,680],"webhookId":"e3ad29e5-82a8-479f-80ae-c5d1f87680fe"},{"parameters":{"mode":"mergeByIndex"},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":1,"position":[500,680]},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"Aguarda 5s\"].json[\"result\"]}}","operation":"equal","value2":200}]}},"name":"Sucesso no envio?","type":"n8n-nodes-base.if","typeVersion":1,"position":[860,680]},{"parameters":{"resource":"databasePage","databaseId":"7bbdb91f-a2ca-43fd-8488-29428a58af19","propertiesUi":{"propertyValues":[{"key":"WhatsApp|title","title":"={{$node[\"Aguarda 5s\"].json[\"WhatsApp\"]}}"},{"key":"Nome|rich_text","textContent":"={{$node[\"Aguarda 5s\"].json[\"Nome\"]}}"},{"key":"Status|rich_text","textContent":"Enviado"},{"key":"Data/Hora|date","date":"={{$now}}","timezone":"America/Sao_Paulo"}]}},"name":"Lead Enviado","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1160,560],"credentials":{"notionApi":{"id":"19","name":"Notion EnviaZap"}}},{"parameters":{"resource":"databasePage","databaseId":"7bbdb91f-a2ca-43fd-8488-29428a58af19","propertiesUi":{"propertyValues":[{"key":"WhatsApp|title","title":"={{$node[\"Aguarda 5s\"].json[\"WhatsApp\"]}}"},{"key":"Nome|rich_text","textContent":"={{$node[\"Aguarda 5s\"].json[\"Nome\"]}}"},{"key":"Status|rich_text","textContent":"Não Enviado"},{"key":"Data/Hora|date","date":"={{$now}}","timezone":"America/Sao_Paulo"}]}},"name":"Lead Não Enviado","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1160,780],"credentials":{"notionApi":{"id":"19","name":"Notion EnviaZap"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"endpoint","value":"https://novo.uzapi.com.br:3333"},{"name":"session","value":"autotic"},{"name":"sessionkey","value":"autotic"}]},"options":{}},"name":"Parâmetros","type":"n8n-nodes-base.set","typeVersion":1,"position":[-760,540]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Um contato por vez\"].json[\"WhatsApp\"]}}"},{"name":"text","value":"oi"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"}]}},"name":"Envia Texto no WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[340,480],"continueOnFail":true}],"connections":{"Start":{"main":[[{"node":"Parâmetros","type":"main","index":0}]]},"contatos":{"main":[[{"node":"Obtém primeiro nome do lead","type":"main","index":0}]]},"lista json":{"main":[[{"node":"contatos","type":"main","index":0}]]},"Obtém primeiro nome do lead":{"main":[[{"node":"Um contato por vez","type":"main","index":0}]]},"Um contato por vez":{"main":[[{"node":"Envia Texto no WhatsApp","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Aguarda 5s":{"main":[[{"node":"Um contato por vez","type":"main","index":0},{"node":"Sucesso no envio?","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aguarda 5s","type":"main","index":0}]]},"Sucesso no envio?":{"main":[[{"node":"Lead Enviado","type":"main","index":0}],[{"node":"Lead Não Enviado","type":"main","index":0}]]},"Envia Texto no WhatsApp":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Parâmetros":{"main":[[{"node":"lista json","type":"main","index":0}]]}},"createdAt":"2022-05-26T15:42:36.222Z","updatedAt":"2022-06-23T00:01:01.879Z","settings":{},"staticData":null,"pinData":null,"tags":[{"id":"1","name":"whatsapp","createdAt":"2021-09-17T00:33:39.408Z","updatedAt":"2021-10-19T21:10:12.400Z"}]}