public/data/repos/awesome-vibe-coding/content/n8n-templates/Envios em massa para WhatsApp (via CSV do Google Drive).json
{"id":3,"name":"Envios em massa para WhatsApp (via CSV do Google Drive)","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-380,300]},{"parameters":{"options":{}},"name":"Formata dados","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[320,300],"notes":"Converte os dados binários da planilha em tabela (json)."},{"parameters":{"batchSize":1,"options":{}},"name":"Um contato por vez","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[720,300]},{"parameters":{"values":{"string":[{"name":"endpoint","value":"https://novo.uzapi.com.br:3333"},{"name":"session","value":"autotic"},{"name":"sessionkey","value":"autotic"},{"name":"text","value":"Quando falamos de envio de arquivos pela API do WhatsApp, um dos grandes desafios é tentar *enviar o arquivo hospedado em plataformas de armazenamento em nuvem*, como por exemplo, o Google Drive.\n\nO fato dessas plataformas não expor a extensão do arquivo na URL (formato aceito pelas APIs), acaba tornando o processo de automação inviável.\n\nPorém, *descobrimos uma forma de como você pode enviar QUALQUER arquivo do seu Google Drive para o WhatsApp dos seus clientes de forma automatizada* usando o n8n juntamente com sua API de WhatsApp.\n\nQuer saber como? Clica no link e acesse o tutorial direto do nosso canal do Youtube: https://www.youtube.com/watch?v=yFIwc8tEmsI 👈\n\n*Obs*: Se essa dica lhe ajudou, deixe um like no vídeo e se inscreva no canal para apoiar nosso trabalho! 😁 \n\n* _Digite *sair* caso não queira receber mais nossas notificações._"},{"name":"path","value":"https://i.ibb.co/3Bq1sLH/Envie-qualquer-arquivo-do-google-drive-no-whatsapp.png"},{"name":"csv","value":"contatos.csv"}],"number":[]},"options":{}},"name":"Parâmetros","type":"n8n-nodes-base.set","typeVersion":1,"position":[-200,300]},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].parameter[\"values\"][\"string\"][0][\"value\"]}}/sendImage","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].parameter[\"values\"][\"string\"][1][\"value\"]}}"},{"name":"number","value":"={{ $json[\"fwpp\"] }}"},{"name":"caption","value":"=E aí {{$node[\"Um contato por vez\"].json[\"fname\"]}}, tudo certo?\n\n{{$node[\"Parâmetros\"].json[\"text\"]}}"},{"name":"path","value":"={{$node[\"Parâmetros\"].json[\"path\"]}}"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].parameter[\"values\"][\"string\"][2][\"value\"]}}"}]}},"name":"Envia Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[920,300],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"continueOnFail":true,"notes":"Envia o imagem no whatsapp de cada contato."},{"parameters":{"operation":"download","fileId":"={{ $json[\"id\"] }}","options":{}},"name":"Baixa o arquivo","type":"n8n-nodes-base.googleDrive","typeVersion":2,"position":[140,300],"credentials":{"googleDriveOAuth2Api":{"id":"11","name":"Google Drive (Hugo Peres)"}}},{"parameters":{"operation":"list","limit":1,"queryFilters":{"name":[{"operation":"is","value":"={{ $json[\"csv\"] }}"}]},"options":{"fields":["mimeType","id","name"]}},"name":"Localiza arquivo","type":"n8n-nodes-base.googleDrive","typeVersion":2,"position":[-40,300],"credentials":{"googleDriveOAuth2Api":{"id":"11","name":"Google Drive (Hugo Peres)"}}},{"parameters":{"functionCode":"//Armazena o nome do lead vindo da API do WhatsApp\nvar fname = $node[\"Formata dados\"].json[\"Nome\"];\nvar fwpp = $node[\"Formata dados\"].json[\"WhatsApp\"];\n\n//Verifica se o contato tem nome. Se sim, pega apenas o primeiro nome.\nif (fname != null){\n      fname = fname.split(' ');\n      item.fname = fname[0];\n}\n\n//Converte o número dr wpp de number para string\nitem.fwpp = fwpp.toString();\n\n//Retorna os dados do item\nreturn item;"},"name":"Obtém primeiro nome e formata wpp","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[520,300],"alwaysOutputData":false,"continueOnFail":true,"notes":"Função Java script que extrair apenas o primeiro nome do lead no WhatsApp."},{"parameters":{"amount":2,"unit":"seconds"},"name":"Aguarda 2s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1100,300],"webhookId":"1b1c402d-b100-4b69-82f4-a46cda754882"}],"connections":{"Formata dados":{"main":[[{"node":"Obtém primeiro nome e formata wpp","type":"main","index":0}]]},"Start":{"main":[[{"node":"Parâmetros","type":"main","index":0}]]},"Parâmetros":{"main":[[{"node":"Localiza arquivo","type":"main","index":0}]]},"Envia Imagem":{"main":[[{"node":"Aguarda 2s","type":"main","index":0}]]},"Localiza arquivo":{"main":[[{"node":"Baixa o arquivo","type":"main","index":0}]]},"Baixa o arquivo":{"main":[[{"node":"Formata dados","type":"main","index":0}]]},"Obtém primeiro nome e formata wpp":{"main":[[{"node":"Um contato por vez","type":"main","index":0}]]},"Um contato por vez":{"main":[[{"node":"Envia Imagem","type":"main","index":0}]]},"Aguarda 2s":{"main":[[{"node":"Um contato por vez","type":"main","index":0}]]}},"createdAt":"2021-09-15T02:02:44.032Z","updatedAt":"2022-07-28T15:22:31.406Z","settings":{},"staticData":null,"pinData":{},"tags":[{"id":"1","name":"whatsapp","createdAt":"2021-09-17T00:33:39.408Z","updatedAt":"2021-10-19T21:10:12.400Z"}]}