public/data/repos/awesome-vibe-coding/content/n8n-templates/Envio em massa de WhatsApp (via Texto  Simples).json
{"id":110,"name":"Envio em massa de WhatsApp (via Texto  Simples)","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-660,300]},{"parameters":{"functionCode":"var saudacao = [\"Oi\", \"Olá\", \"E aí\"];\nvar i = Math.floor(Math.random() * 3);\n\n//Armazena o número de whatsapp na variável\nvar wpp = $json[\"whatsapp\"].toString();\n\n//Remove todas as letras e caracteres especiais do número de whatsapp\nfwpp = wpp.replace(/[^0-9]+/g,'');\n\n//Se o número de whatsapp não for vazio e tiver menos de 11 dígitos, acrescenta o código do país\nif (fwpp != '' && fwpp.length <= 11){\n  fwpp = '55'+ fwpp;\n}\n\n//Add o número de whatsapp formatado ao campo fwpp do item (json) e saudação do campo saud do item (json)\nitem.fwpp = fwpp\nitem.saud = saudacao[i];\n\n//Retorna o item no output\nreturn item;"},"name":"Formata num wpp","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[380,300],"notes":"Formata o número de whatsapp do comprador, removendo espaços e caracteres especiais."},{"parameters":{"batchSize":1,"options":{}},"name":"Processa um contato por vez","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[820,300],"notes":"Processa um contato por vez."},{"parameters":{"requestMethod":"POST","url":"={{$node[\"Parâmetros\"].json[\"endpoint\"]}}/sendText","options":{},"bodyParametersUi":{"parameter":[{"name":"session","value":"={{$node[\"Parâmetros\"].json[\"session\"]}}"},{"name":"number","value":"={{$node[\"Processa um contato por vez\"].json[\"fwpp\"]}}"},{"name":"text","value":"={{$node[\"Processa um contato por vez\"].json[\"saud\"]}}, tudo bem?\n\n{{$node[\"Parâmetros\"].json[\"texto\"]}}"}]},"headerParametersUi":{"parameter":[{"name":"sessionkey","value":"={{$node[\"Parâmetros\"].json[\"sessionkey\"]}}"}]}},"name":"Envia texto WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1040,300],"continueOnFail":true,"notes":"Envia texto para cada contato no whatsapp."},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"endpoint","value":"https://teste.uzapi.com.br:3333"},{"name":"session","value":"teste"},{"name":"sessionkey","value":"teste"},{"name":"lista","value":"nome,whatsapp\nHugo,+55 21 99999-9999\nAutotic,(21) 88888 8888\nFulano,+552177777-7777\nBeltrano,55 (21) 66666-6666"},{"name":"texto","value":"isso é um teste"}]},"options":{}},"name":"Parâmetros","type":"n8n-nodes-base.set","typeVersion":1,"position":[-260,300]},{"parameters":{"amount":5,"unit":"seconds"},"name":"Aguarda 5s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1220,300],"webhookId":"30d510f7-7747-4653-bb73-d8250296fe9e","notes":"Aguarda 7s para enviar mensagem para o próximo contato."},{"parameters":{"resume":"specificTime","dateTime":"2022-08-02T21:00:00.000Z"},"name":"Agendador","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-460,300],"webhookId":"09b7209b-0629-4b64-a071-fbeea275836b","notesInFlow":true,"disabled":true,"notes":"Basta desativar, caso queira fazer o envio imediato."},{"parameters":{"operation":"removeDuplicates","compare":"selectedFields","fieldsToCompare":{"fields":[{"fieldName":"fwpp"}]},"options":{}},"name":"Remove wpp duplicados","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[580,300]},{"parameters":{"options":{"headerRow":true}},"name":"Extrai dados do csv","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[160,300],"alwaysOutputData":false},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"lista","options":{"mimeType":"text/csv","useRawData":true}},"name":"Converte lista em csv","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-60,300]}],"connections":{"Start":{"main":[[{"node":"Agendador","type":"main","index":0}]]},"Processa um contato por vez":{"main":[[{"node":"Envia texto WhatsApp","type":"main","index":0}]]},"Envia texto WhatsApp":{"main":[[{"node":"Aguarda 5s","type":"main","index":0}]]},"Parâmetros":{"main":[[{"node":"Converte lista em csv","type":"main","index":0}]]},"Aguarda 5s":{"main":[[{"node":"Processa um contato por vez","type":"main","index":0}]]},"Agendador":{"main":[[{"node":"Parâmetros","type":"main","index":0}]]},"Formata num wpp":{"main":[[{"node":"Remove wpp duplicados","type":"main","index":0}]]},"Remove wpp duplicados":{"main":[[{"node":"Processa um contato por vez","type":"main","index":0}]]},"Extrai dados do csv":{"main":[[{"node":"Formata num wpp","type":"main","index":0}]]},"Converte lista em csv":{"main":[[{"node":"Extrai dados do csv","type":"main","index":0}]]}},"createdAt":"2022-08-02T15:16:41.104Z","updatedAt":"2022-08-03T23:43:11.989Z","settings":{},"staticData":null,"pinData":{},"tags":[]}