public/data/repos/awesome-vibe-coding/content/n8n-templates/Web Scraping.json
{"id":106,"name":"Web Scraping","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-2940,880]},{"parameters":{"url":"https://autotic.com.br/cursos/","responseFormat":"string","options":{}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-2720,880]},{"parameters":{"extractionValues":{"values":[{"key":"imagem","cssSelector":"img.attachment-full.size-full","returnValue":"attribute","attribute":"src","returnArray":true},{"key":"titulo","cssSelector":"h4.elementor-image-box-title a","returnValue":"html","returnArray":true},{"key":"link","cssSelector":"h4.elementor-image-box-title a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"name":"HTML Extract","type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[-2500,880]},{"parameters":{"fieldToSplitOut":"imagem","options":{}},"name":"imagem","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-2200,700]},{"parameters":{"fieldToSplitOut":"titulo","options":{}},"name":"titulo","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-2200,880]},{"parameters":{"fieldToSplitOut":"link","options":{}},"name":"link","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-2200,1080]},{"parameters":{"values":{"string":[{"name":"imagem","value":"={{$node[\"imagem\"].json[\"imagem\"]}}"},{"name":"titulo","value":"={{$node[\"titulo\"].json[\"titulo\"]}}"},{"name":"link","value":"={{$node[\"link\"].json[\"link\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1920,880]},{"parameters":{"batchSize":1,"options":{"reset":false}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-1720,880]},{"parameters":{"title":"={{$json[\"titulo\"]}}","additionalFields":{"content":"=<img src=\"{{$json[\"imagem\"]}}\" width=\"500\"></img>\n\n<a href=\"{{$json[\"link\"]}}?id=hugo123\" style=\"font-size:30px;\">INSCREVA-SE AGORA</a>","status":"publish","categories":[124]}},"name":"Wordpress","type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-1480,880],"credentials":{"wordpressApi":{"id":"21","name":"Autotic Wordpress"}}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML Extract","type":"main","index":0}]]},"HTML Extract":{"main":[[{"node":"imagem","type":"main","index":0},{"node":"titulo","type":"main","index":0},{"node":"link","type":"main","index":0}]]},"link":{"main":[[{"node":"Set","type":"main","index":0}]]},"imagem":{"main":[[{"node":"Set","type":"main","index":0}]]},"titulo":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"Wordpress":{"main":[[]]}},"createdAt":"2022-07-23T00:15:29.273Z","updatedAt":"2022-07-23T00:15:29.273Z","settings":{"saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"pinData":{},"tags":[]}